In [3]:
import pandas as pd
import numpy as np
import os

read the the file in pandas

In [11]:
df=pd.read_csv('total_transactions_date_total.csv')

In [26]:
df2=pd.read_csv('MLTotal.csv')

In [27]:
df2.head()

,Unnamed: 0,riskscore,opened,SCRate,TrailerRate,Price,Vol,return-N6M,return-HYG,return-IVV,AUM,Open,Gender,age,income,counts,sub,ed_Deg or abv,ed_H.Sch/Dip.,FRC
0,0,5,0,0.03,0.0,86.980003,14187800,0.000000,0.000000,0.000000,396.172878,0,1,31,89953.079278,16.051654,0,0,1,2
1,1,5,0,0.03,0.0,86.300003,11351300,0.000000,0.003022,0.009479,3820.921478,1,1,33,103063.060048,55.862356,1,0,1,2
2,2,5,0,0.03,0.0,86.519997,20175500,-0.003604,-0.003570,-0.000223,2003.354360,1,1,42,71597.614595,34.712835,1,0,1,2
3,3,5,0,0.03,0.0,88.209999,31575700,0.006375,0.001817,0.000063,1657.233641,1,0,47,53341.786595,30.123950,1,0,1,2
4,4,5,0,0.03,0.0,87.919998,11627100,0.000000,-0.000455,-0.000185,4161.822987,1,1,46,75276.185086,58.710454,1,0,1,2

In [28]:
df2.columns

Index(['Unnamed: 0', 'riskscore', 'opened', 'SCRate', 'TrailerRate', 'Price',
       'Vol', 'return-N6M', 'return-HYG', 'return-IVV', 'AUM', 'Open',
       'Gender', 'age', 'income', 'counts', 'sub', 'ed_Deg or abv',
       'ed_H.Sch/Dip.', 'FRC'],
      dtype='object')

In [29]:
pd.unique(df2.FRC)

array([2, 1, 3])

In [25]:
os.listdir()

['.Rhistory',
 'transaction_record cleaning_revised.ipynb',
 'MLTotal.csv',
 'Untitled1.ipynb',
 '.DS_Store',
 'transaction_record cleaning_revised2.ipynb',
 'lasso.r',
 'Txn_Record_[delta_AUM]_[2019-04-01]_[2020-04-08].csv',
 'bestsubsetselection.r',
 'Txn_Record_[count_AUM]_[2019-08-26]_[2020-04-01].csv',
 'Untitled3.ipynb',
 'Untitled.ipynb',
 'Txn_Record_[avg_AUM]_[2019-08-26]_[2020-04-01].csv',
 'ridge.r',
 '7daysrawdata.csv',
 'Untitled2.ipynb',
 '7daystransaction.csv',
 'TransactionRecord-v-return added.csv',
 'doc1.csv',
 'transactions7daysforanalytics.csv',
 'Txn_Record_AUMattrn_2019-08-26_2020-04-01.csv',
 'linear_regression.r',
 'Txn_Record_[avg_AUM]_[2019-04-01]_[2020-04-08].csv',
 'Txn_Record_AUMattrn_2020-03-12_2020-03-20.csv',
 'Generatedtotal.csv',
 'Txn_Record_avgTxnSize_2020-03-12_2020-03-20.csv',
 'FundPxVol (1).csv',
 'transactionstotalrangen.csv',
 'totaltransactions[2019-08-25]-[2020-08-26].csv',
 'totaltransactionforML.csv',
 '7daysML.csv',
 '.ipynb_checkpoints',
 'Txn_Record_deltaAUM_2020-03-12_2020-03-20.csv',
 'total_tran_final.csv',
 '7daysdata.csv',
 'doc.csv',
 'Generated7days',
 'Txn_Record_[count_AUM]_[2019-04-01]_[2020-04-08].csv',
 'bank-additional-full.csv',
 'Generated7days.csv',
 'total_transactions_date_total.csv']

In [12]:
df.head()

,Unnamed: 0,trd_date,fund_id,investor_id,education,intermediaryid,riskscore,SCRate,TrailerRate,FundRiskScore,...,return-N6M,return-HYG,return-IVV,AUM,Open,Gender,age,income,counts,sub
0,0,2019/8/26,HYG,55887,H.Sch/Dip.,6,5,0.03,0.0,M,...,0.000000,0.000000,0.000000,396.172878,0,1,31,89953.079278,4.554758,0
1,1,2019/10/9,HYG,55887,H.Sch/Dip.,6,5,0.03,0.0,M,...,0.000000,0.003022,0.009479,3820.921478,1,1,33,103063.060048,44.274871,1
2,2,2019/11/19,HYG,55887,H.Sch/Dip.,6,5,0.03,0.0,M,...,-0.003604,-0.003570,-0.000223,2003.354360,1,1,42,71597.614595,23.154813,1
3,3,2019/12/18,HYG,55887,H.Sch/Dip.,6,5,0.03,0.0,M,...,0.006375,0.001817,0.000063,1657.233641,1,0,47,53341.786595,18.787367,1
4,4,2019/12/27,HYG,55887,H.Sch/Dip.,6,5,0.03,0.0,M,...,0.000000,-0.000455,-0.000185,4161.822987,1,1,46,75276.185086,47.336477,1

delete the unncessary columns

In [13]:
df.columns

Index(['Unnamed: 0', 'trd_date', 'fund_id', 'investor_id', 'education',
       'intermediaryid', 'riskscore', 'SCRate', 'TrailerRate', 'FundRiskScore',
       'FundName', 'Price', 'Vol', 'return-N6M', 'return-HYG', 'return-IVV',
       'AUM', 'Open', 'Gender', 'age', 'income', 'counts', 'sub'],
      dtype='object')

In [14]:
del df['Unnamed: 0']

In [15]:
def gencon(x):
    if x==0:
        return "F"
    if x==1:
        return 'M'

In [17]:
df['Gender']=df['Gender'].apply(gencon)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16004 entries, 0 to 16003
Data columns (total 22 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   trd_date        16004 non-null  object
 1   fund_id         16004 non-null  object
 2   investor_id     16004 non-null  int64
 3   education       16004 non-null  object
 4   intermediaryid  16004 non-null  int64
 5   riskscore       16004 non-null  int64
 6   SCRate          16004 non-null  float64
 7   TrailerRate     16004 non-null  float64
 8   FundRiskScore   16004 non-null  object
 9   FundName        16004 non-null  object
 10  Price           16004 non-null  float64
 11  Vol             16004 non-null  int64
 12  return-N6M      16004 non-null  float64
 13  return-HYG      16004 non-null  float64
 14  return-IVV      16004 non-null  float64
 15  AUM             16004 non-null  float64
 16  Open            16004 non-null  int64
 17  Gender          16004 non-null  object
 18  age             16004 non-null  int64
 19  income          16004 non-null  float64
 20  counts          16004 non-null  float64
 21  sub             16004 non-null  int64
dtypes: float64(9), int64(7), object(6)
memory usage: 2.7+ MB

In [20]:
def zeronecon(x):
    if x==0:
        return "N"
    if x==1:
        return "Y"

In [22]:
df['Open']=df['Open'].apply(zeronecon)

In [23]:
df['sub']=df['sub'].apply(zeronecon)